@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 600px;
    display: flex;

}

.half-card {
    width: 350px;
    height: 440px;
    padding: 20px;
}

.left {
    border-radius: 20px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.right {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.result {
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 40px auto;
}

.result-number {
    font-size: 60px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.bold {
    font-weight: 700;
}

.opacity {
    color: rgba(255, 255, 255, 0.567);
}

.extra-bold {
    font-weight: 800;
}

@media screen and (max-width:600px) {
   .card {
    flex-direction: column;
   }
}